body {
    min-width: 1500px;
    font-family: 'Roboto', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
h1 {
    display: flex;
    background-color: #1F2937;
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px;
 }
a, .info {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB; 
    font-weight: 100;
   }
.logo {
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 200px;
    }
.links {
    display: flex;
    padding-right: 200px;
     gap: 30px;
}

.header {
   font-size: 48px;
   color: #F9FAF8;
   font-weight: 900;
}
.secondary {
    background-color: #1F2937;
    padding: 50px 100px 70px 200px;
}
.info, .header {
    width: 450px;
}
button {
    background: #3882F6;
    border-radius: 10px;
    border:#3882F6;
    width: 120px;
    height: 35px;
    margin-top: 10px;
    padding-left: 30px
}
img {
    width: 530px;
    height: 230px;
    padding: 50px 100px 70px 0px;
}
.header2 {
    display: flex;
    background-color: #1F2937;
}
h2 {
   font-size: 36px;
   color: #1F2937;
   font-weight: 900; 
   text-align: center;
   padding: 30px;
}