body {
    min-width: 1500px;
}
* {
    margin: 0;
    padding: 0;
}
h1 {
    display: flex;
    background-color: #1F2937;
    margin: 0 auto;
    justify-content: space-between;
    padding: 10px;
 }
a {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
   }
.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    padding-left: 200px;
    }
.links {
    display: flex;
    padding-right: 200px;
     gap: 30px;
}